.timeline-section {
  padding: 60px 30px;
  background: #f8f8f8;
  text-align: center;
}

.timeline-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 60px;
}

.timeline-wrapper {
  position: relative;
  display: flex;
  gap: 100px;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 120px 40px;
}

.timeline-info h3{
  color: green!important;
}

/* Línea horizontal base */
.timeline-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #ccc;
  z-index: 1;
  transform: translateY(-50%);
  border-radius: 2px;
}

/* Cada ítem */
.timeline-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  min-width: 180px;
}

/* Nodo con imagen */
.timeline-node {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid #03680d;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  overflow: hidden;
  z-index: 3;
}

.timeline-node img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Info: texto superior e inferior alternado */
.timeline-info {
  max-width: 200px;
  padding: 10px;
  background: none;
  text-align: center;
}

.timeline-info.top {
  position: absolute;
  top: -130px;
}

.timeline-info.bottom {
  position: absolute;
  bottom: -130px;
}

.timeline-info h3 {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

.timeline-info strong {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  color: #222;
  margin: 4px 0;
}

.timeline-info p {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
}